<template>
    <div class="uk-container uk-container-expand">
        <h1>Posts</h1>
        <ul if.bind="errors">
            <li repeat.for="error of errors">${error}</li>
        </ul>
        <ul if.bind="posts">
            <li repeat.for="post of posts">${post}</li>
        </ul>
        <form submit.delegate = "post_submit()">
            <input
                type="text"
                value.bind="post_text" />
                <button>Post</button>
        </form>
    </div>
</template>
