<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>PlayPlatform</title>
    </head>
    <body aurelia-app="main">
        <noscript>
            This website requires JavaScript
        </noscript>
        <div uk-spinner></div>
    </body>
</html>
